<app-create-note (messageCreateToDisplay)="receivemessageDisplayToGetAllNote($event)"></app-create-note>




<!-- <app-display-note 
[childArray]="noteArray"

[isGridView]="isGridView" 
(messageToDisplay)="receivemessageDisplayToGetAllNote($event)"
(messageDisplayToGetAllNote)="receivemessageDisplayToGetAllNote($event)">
</app-display-note> -->



<!-- <app-display-note
[filteredArray] ="filteredArray"
(messageToserach)=" receivemessageDisplayToGetAllSearchNote($event)">
></app-display-note> -->


<!-- <app-display-note
  [childArray]="filteredArray.length ? filteredArray : noteArray"
  [filteredArray]="filteredArray"
  
  [isGridView]="isGridView"
  (messageDisplayToGetAllNote)="receivemessageDisplayToGetAllNote($event)"
  (messageToDisplay)="receivemessageDisplayToGetAllNote($event)">
</app-display-note> -->


<app-display-note
  [childArray]="filteredArray.length ? filteredArray : noteArray"
  [filteredArray]="filteredArray"
  [isGridView]="isGridView"
  (messageDisplayToGetAllNote)="receivemessageDisplayToGetAllNote($event)"
  (messageToDisplay)="receivemessageDisplayToGetAllNote($event)">
</app-display-note>